# Ignore bin and obj directories
**/bin/
**/obj/

# Ignore deno.lock
**/deno.lock

# Ignore compiled files for C#, F#, Rust and Typescript
**/*.exe
**/*.dll
**/*.pdb
**/*.exe.config
**/*.log
**/*.msi
**/*.ipa
**/*.apk
**/*.o
**/*.so
**/*.dylib
**/*.dSYM/
**/*.js.map
**/*.jsbundle
**/*.jsx
**/*.tsx
**/*.d.ts
**/*.map
**/*.vue.js
**/*.vue.js.map
**/*.vue.ssr.js
**/*.vue.ssr.js.map
c++/**/cmake-build-*
c/**/cmake-build-*
c/**/build
c/**/.cache
zig/**/zig-cache

# Ignore Visual Studio Code files
.vscode/
*.code-workspace

# Ignore Rust build artifacts
target/
Cargo.lock

# Ignore dependencies for Rust projects
**/Cargo.toml
**/Cargo.lock
**/.cargo/

# Ignore dependencies for Typescript projects
**/yarn.lock
**/package-lock.json

# Ignore NuGet packages for C# projects
**/*.nuget.props
**/*.nuget.targets
**/packages/

# Ignore JetBrains Rider files
.idea/
*.sln.iml
*.csproj.iml
